node_modules
# Keep secrets out of version control
.env.local
.env.*.local

/generated/prisma
dist/
*.zip

# Uploaded files
/storage/*
!/storage/.gitkeep

# DB dumps
*.sql
!prisma/migrations/**/*.sql
